* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*STYLE FOR PHONE*/
/* Main container*/

body {
    background: url("https://s3-alpha-sig.figma.com/img/22ac/09b0/d04312bbb3f8364b9fd31b07a7739fc1?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ehKpxMTu74UwBTGb2W8FvpRv2btHd9kbYzAe7wQUvkUs62i2DCt16E9CtIubtUp8fcRq3-hjjR9nfH1cD6r2L-ZPT5W7zLjdJVOBkRUZZs5PdaD2NQ2E7l-OJUvaj~TbX3CnbLFeVuoR20miCnndkvDMUe4egny9lzQQYfTw-gxgmlxKdnZbvcKi79eNPEd35V1UhHCoz5euQgTfuu5p6UzgKE9c2u5zre9HbUiq09L3KhvUkC1LYGI3N4b8zBelA2HqqPdS4JjXUPrrdRpz7mXLYkLEoTpjILEGVUuN3Kal~sMaQVYYHZ~Ckycvgedccxcb0h7HAL0N2pmvL5nrTg__")
center / cover no-repeat fixed ;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__map {
    flex: 1;
    height: 80dvh;
    width: clamp(100px, 100%, 800px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/*header*/

.header {
    color: white;
    border: solid 2px white;
}



/*End Header*/

/*dialog introduction*/

.dialog-intro {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 10000;
    border: none;
}

.dialog-intro__form {
    border: solid 2px black;
    width: 20%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*dialog introduction*/

/*Country description*/
.section-country-info__country-flag {
    font-size: 60px;
    margin: 10px 0;
}

.section-country-info__country-description {
    font-size: 14px;
    color: #555;
}

/*Buttons style */

.button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

/*Country info*/
.section-country-info {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 300px;
}

/* STYLE FOR PC*/